.create-account{
    width: 150px;
}
.sign-in-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* border: 2px solid black; */
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    padding: 1rem;
}
.sign-in-logo{
    width: 150px;
}
.sign-in-innercontainer{
    width: 350px;
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 30px;
}
.sign-in-card{
    width: 100%;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
    font-size: 13px;
    font-weight: 400;
}
.sign-in-card h2{
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
}
.sign-in-card a{
    text-decoration: underline;
}
.email-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 13px;
    font-weight: 700;
}
.email-container input{
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    outline : 1px solid black;
}
.email-container input:focus{
    box-shadow: 0px 0px 7px aqua;
}
.continue-btn{
    width: 100%;
    padding: 6px;
    background-color: #ffd814;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
        background-color: #f7ca00;
    }
}
.amazon-bussiness-container{
    border-top: 1px solid #dcdcdc;
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.amazon-bussiness-container a{
    text-decoration: none;
}
.new-to-amazon{
    text-align: center;
}
.create-account{
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    padding: 6px;
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    width: 100%;
}