.carousel-container{
    width: 100%;
    aspect-ratio: 16/6;
    display: flex;
    justify-content: center;
    align-items: start;
    /* border: 2px solid black; */
    overflow: hidden;
    position: relative;
}
.carousel-blur-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 50%, rgb(229, 228, 228));
    z-index: -1;
}
.carousel-img-container{
    /* border: 2px solid black; */
    width: 95%;
    transition: 1s;
}
.carousel-img-container img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.carousel-btn{
    position: absolute;
    top: 15vh;
    font-size: 3rem;
    line-height: 25px;
    background-color: transparent;
    cursor: pointer;
    text-shadow: 1px 1px 3px white;
}
.carousel-left-btn{
    left: 5%;
}
.carousel-right-btn{
    right: 5%;
}